*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.Nag{
    margin-top: 70px;
    font: 20px Poppins,sans-serif;
    color: #7A7A7A;
}
.Nag>h1{
    /* font: 35px Poppins,sans-serif; */
    color: #000000;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
    .for-tab{
        display: flex;
        flex-direction: column-reverse;
    }

}